__pycache__
auth/**
!auth/__init__.py
playlist/**

client/.DS_Store
client/node_modules
client//build
client//.svelte-kit
client//package
client/.env
client/.env.*
client/!.env.example
client/.*

pyvenv.cfg
Scripts
Lib
Include

bin
lib
lib64

playlist

etc
share
